body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Playfair Display', serif;
    background-color: #f0f0f0;
}

.toptext {
    text-align: center;
    color: darkred;
    font-size: 40px;
    font-weight:bolder;

}

.game-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
}

.square {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.square.active {
    background-color: lemonchiffon;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    gap: 10px;
}

.nav-links a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    background-color: #ddd;
    border-radius: 5px;
}

.nav-links a:hover {
    background-color: #ccc;
}